albumentations==1.2.1
clip==0.2.0
Cython==0.29.16
easydict==1.9
Flask==2.1.0
Flask_Cors==3.0.10
imgviz==1.5.0
ipython==8.4.0
jinja2==3.1.2
matplotlib==3.5.1
numpy==1.18.2
opencv_python_headless==4.6.0.66
Pillow==9.2.0
PyYAML==6.0
rfconv==0.0.2b20210406
scikit_image==0.19.2
scipy==1.7.3
spatial_correlation_sampler==0.4.0
streamlit==1.12.0
tensorboard==2.1.1
torch==1.12.0
torchray==1.0.0.2
torchaudio==0.12.0
torchsummary==1.5.1
torchvision==0.13.0
tqdm==4.44.0
yacs==0.1.6
